<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Ceneo Scraper</title>
</head>
<body>
    <header>
        <h1><u>Ceneo.pl Scraper</u></h1>
        <nav>
            <button><a href="{{ url_for('index')}}">STRONA GŁÓWNA</a></button>
            <button><a href="{{ url_for('extract')}}">EKSTRAKCJA</a></button>
            <button><a href="{{ url_for('products')}}">LISTA PRODUKTÓW</a></button>
            <button><a href="{{ url_for('about')}}">O AUTORCE</a></button>
        </nav>
    </header>
    <section>
        {% block content %}
        <p>To jest plik bazowy</p>
        {% endblock %}
    </section>
    <footer>
        <p>Patrycja Bień, Uniwersytet Ekonomiczny w Krakowie</p>
    </footer>
</body>
</html>